Package: me.lightmann.aeaea
Name: Aeaea
Depends: mobilesubstrate, firmware (>= 12.0), preferenceloader
Conflicts: me.lightmann.transparentnotif, me.lightmann.clearwidgets
Version: 1.0.0.1
Architecture: iphoneos-arm
Description: Cleans up notification banners and widget platters.
Maintainer: Lightmann
Author: Lightmann
Section: Tweaks
