<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>%SUB_NAME%</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
          <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lightmann.aeaeaprefs</string>
			<key>label</key>
            <string>Enabled</string>
            <key>key</key>
            <string>widgetsEnabled</string>
            <key>PostNotification</key>
			<string>me.lightmann.aeaeaprefs-updated</string>
            <key>alternateColors</key>
			<true/>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Opacity Level</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>0</string>
			<key>min</key>
			<string>0</string>
			<key>max</key>
			<string>100</string>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>me.lightmann.aeaeaprefs</string>
			<key>key</key>
			<string>widgetTransparency</string>
			<key>isSegmented</key>
			<true/>
			<key>PostNotification</key>
			<string>me.lightmann.aeaeaprefs-updated</string>
		</dict>
		  <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Content Color (iOS 13 only)</string>
        </dict>
       <dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>me.lightmann.aeaeaprefs</string>
			<key>key</key>
			<string>contentcolor</string>
			<key>label</key>
			<string>ContentColor</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>White</string>
				<string>Black</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>id</key>
			<string>ModeCell</string>
			<key>PostNotification</key>
			<string>me.lightmann.aeaeaprefs-updated</string>
		</dict>
		 <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
		</dict>
		<dict>
		    <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.lightmann.aeaeaprefs</string>
			<key>label</key>
            <string>Hide "information provided by" text</string>
            <key>key</key>
            <string>hideFooterText</string>
            <key>PostNotification</key>
			<string>me.lightmann.aeaeaprefs-updated</string>
        </dict>
		<dict>
		    <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.aeaeaprefs</string>
			<key>label</key>
            <string>Hide Widget App Icon</string>
            <key>key</key>
            <string>hideWidgetIcon</string>
            <key>PostNotification</key>
			<string>me.lightmann.aeaeaprefs-updated</string>
        </dict>
		<dict>
		    <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.lightmann.aeaeaprefs</string>
			<key>label</key>
            <string>Hide Widget Label</string>
            <key>key</key>
            <string>hideWidgetLabel</string>
            <key>PostNotification</key>
			<string>me.lightmann.aeaeaprefs-updated</string>
        </dict>
    </array>
    <key>title</key>
    <string>Widgets</string>
</dict>
</plist>
